{% comment %}
  General description of Software, Data, and Library Carpentry.
{% endcomment %}

{% include base_path.html %}

<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.carpentries_site }}"><img src="{{ relative_root_path }}/assets/img/kubdatalab-logo.png" alt="KUB Datalab ID" /></a>
  </div>
  <div class="col-md-8">
    <p><a href="{{ site.carpentries_site }}">KUB Datalab</a> is the centre for
    working with data at Copenhagen University Library. Our primary focus is to
    support students at the University of Copenhagen in reagrds to their work 
    with data and digital methods.</p>
  </div>
</div>